<?xml version="1.0" encoding="UTF-8"?>
<suite name="PropertyMonitorSuite">
    <test name="Regression Tests">
        <parameter name="environment" value="stage"/>
        <classes>
        
            <class name="com.propertymonitor.tests.LoginPageTest"/>
            <class name="com.propertymonitor.tests.ProjectSearchTest"/>
        </classes>
    </test>
</suite>